body {
			font-size: 16px;
			word-spacing: 1px;
			
		}
		.title {
			text-align: center;
			font-size: 3em;
			text-transform: uppercase;
			font-family: tahoma;
			box-sizing: border-box;
		
		}
		#line1 {
			width: 5%;
			color: red;
			background-color: red;
			box-sizing: border-box;
			
			
		}
		#dong1{
			padding-top: 30px;
			text-align: left;
			float:left;
			height: 150px;
			box-sizing: border-box;
		
	
}
		#khoi1{
			text-align: center;
			width: 100%;
			float: left;
			padding-top: 30px;
			line-height: 2px;
			
		}
		#khoi2 {
			text-align: center;
			width: 100%;
			float: left;
			line-height: 2px;
		}
		#khoi3 {
			text-align: center;
			width: 100%;
			float: left;
			line-height: 2px;
		}
		#khoi4 {
			text-align: center;
			width: 100%;
			float: left;
			line-height: 2px;
		}

